
@{
    Layout = null;
}

<div class="modal fade" id="modalcreatepost" role="dialog">
    <div class="modal-dialog modal-dialog-createpost">

        <!-- Modal content-->
        <div class="modal-content modal-content-createpost">
            <div class="modal-header">
                <h5 class="modal-title">Create a post</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body-createpost">
                <div class="lifollows">
                    <a class="divavatar">
                        <img src="/admin/images/signin-image.jpg" class="imgavata imgavatacreatepost">
                    </a>
                    <div class="ml-3">
                        <b class="pinfo pinfocreatepost" style="color:black">Trump donal</b>
                        <button class="btnfollowinfo btnfollowinfocreatepost"><i class="fas fa-globe-africa mr-1"></i> Anyone <i class="fas fa-caret-down ml-1"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Post</button>
            </div>
        </div>

    </div>
</div>
